<a href="https://colab.research.google.com/github/boritaserey/cosmetic-manufacturer/blob/main/ETL_Pipeline.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
!pip install pandas faker openpyxl
import sqlite3
import pandas as pd
from google.colab import files
from google.colab import drive
from random import randint, uniform
from datetime import datetime, timedelta
from faker import Faker

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.1.4)
Requirement already satisfied: faker in /usr/local/lib/python3.10/dist-packages (33.0.0)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.5)
Requirement already satisfied: numpy<2,>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.10/dist-packages (from faker) (4.12.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [17]:
# Connect to the database
conn = sqlite3.connect('/content/drive/My Drive/cosmeticELT.db')
cursor = conn.cursor()

#here
#Create data with Faker
fake = Faker()

#Connect to sql database
#conn = sqlite3.connect('cosmetics_manufacturer.db')
cursor = conn.cursor()        #cursor fuction is used to retrieve and manipulate data one row at a time

#Step 1: Create Table based on ERD

#Product
cursor.execute('''
CREATE TABLE IF NOT EXISTS Product (
    Product_ID INTEGER PRIMARY KEY,
    Product_Name VARCHAR(30),
    Category VARCHAR(30),
    Size VARCHAR(10),
    Color VARCHAR(30),
    Smell VARCHAR(30),
    Ingredients VARCHAR(255),
    Packaging VARCHAR(30),
    Price DECIMAL(10, 2),
    StockQuantity INTEGER,
    ManufacturingDate DATE,
    Expirationdate DATE,
    Supplier_ID INTERGER
)
''')

#Suppliers
cursor.execute('''
CREATE TABLE IF NOT EXISTS Suppliers (
    Supplier_ID INTEGER PRIMARY KEY,
    Supplier_Name VARCHAR(50),
    Supplier_ContactNumber VARCHAR(15),
    Supplier_Address VARCHAR(100),
    Supplier_City VARCHAR(30),
    Supplier_Country VARCHAR(30),
    ProductsSupplied VARCHAR(50)
)
''')

#Inventory
cursor.execute('''CREATE TABLE IF NOT EXISTS Inventory (
    Inventory_ID INTEGER PRIMARY KEY,
    Product_ID INTEGER,
    WarehouseID INTEGER,
    QuantityInStock INTEGER,
    UnitPrice DECIMAL(15, 2),
    ReorderLevel INTEGER,
    DateReceived DATE
)''')

#Warehouse
cursor.execute('''
CREATE TABLE IF NOT EXISTS Warehouse (
    WarehouseID INTEGER PRIMARY KEY,
    WarehouseLocation VARCHAR(30),
    Capacity_CubicMeters DECIMAL(10, 2),
    Manager_ID INTEGER
)
''')

#Customer
cursor.execute('''
CREATE TABLE IF NOT EXISTS Customer (
    Customer_ID INTEGER PRIMARY KEY,
    Customer_Name VARCHAR(50),
    Customer_Email VARCHAR(50),
    Customer_Address VARCHAR(100),
    Customer_ContactNumber VARCHAR(15),
    LoyaltyStatus ENUM
)
''')

#Order
cursor.execute('''
CREATE TABLE IF NOT EXISTS "Order" (
    Order_ID INTEGER PRIMARY KEY,
    Order_Date DATETIME,
    Customer_ID INTEGER,
    TotalAmount DECIMAL(10, 2),
    ShippingDate DATETIME,
    Order_Status VARCHAR(20)
)
''')

#OrderItem
cursor.execute('''CREATE TABLE IF NOT EXISTS OrderItem (
    OrderItem_ID INTEGER PRIMARY KEY,
    Order_ID INTEGER,
    Product_ID INTEGER,
    Order_Quantity INTEGER,
    UnitPrice DECIMAL(10 ,2)
)''')

#Batch
cursor.execute('''CREATE TABLE IF NOT EXISTS Batch (
    BatchID INTEGER PRIMARY KEY,
    Product_ID INTEGER,
    BatchDate DATE,
    ExpirationDate DATE,
    QuantityProduced INTEGER,
    QualityCheckStatus VARCHAR(20)
)''')

#Manager
cursor.execute('''CREATE TABLE IF NOT EXISTS Manager (
    Manager_ID INTEGER PRIMARY KEY,
    Manager_Name VARCHAR(50),
    Department VARCHAR(30),
    Manager_ContactNumber VARCHAR(15)
)''')

#Step 2: Generate Synthetic Data and Populate Tables

# Define a function to generate a random date
def random_date(start, end):
    return start + timedelta(days=randint(0, (end - start).days))

# Populate Product
products = []
cursor.execute("SELECT COUNT(*) FROM Product")
product_count = cursor.fetchone()[0]
start_id = product_count + 1

for i in range(start_id, start_id + 101):
    products.append((
        i,
        fake.word(),
        fake.word(),
        f"{randint(1, 5)}kg",
        fake.color_name(),
        fake.word(),
        fake.sentence(),
        fake.word(),
        round(uniform(5, 500), 2),
        randint(0, 1000),
        random_date(datetime(2022, 1, 1), datetime(2023, 1, 1)).strftime('%Y-%m-%d'),
        random_date(datetime(2023, 1, 1), datetime(2025, 1, 1)).strftime('%Y-%m-%d'),
        randint(1, 10)
    ))
# Insert data into the Products table
cursor.executemany('''
INSERT INTO Product (Product_ID, Product_Name, Category, Size, Color, Smell, Ingredients, Packaging, Price, StockQuantity, ManufacturingDate, ExpirationDate, Supplier_ID)
VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
''', products)

# Populate Suppliers
suppliers = []
cursor.execute("SELECT COUNT(*) FROM Suppliers")
supplier_count = cursor.fetchone()[0]
start_id = supplier_count + 1


for i in range(start_id, start_id + 11):
    suppliers.append((
        i,
        fake.company(),
        fake.phone_number(),
        fake.address(),
        fake.city(),
        fake.country(),
        fake.word()
    ))
# Insert data into the Suppliers table
cursor.executemany('''
INSERT INTO Suppliers (Supplier_ID, Supplier_Name, Supplier_ContactNumber, Supplier_Address, Supplier_City, Supplier_Country, ProductsSupplied)
VALUES (?, ?, ?, ?, ?, ?, ?)
''', suppliers)


# Populate Inventory
cursor.execute("SELECT MAX(Inventory_ID) FROM Inventory") #get the max existing Inventory_ID
max_id = cursor.fetchone()[0]
if max_id is None:
    max_id = 0 #start at 1 if table is empty
start_id = max_id + 1


inventory = []
for i in range(start_id, start_id + 151):  # Assuming 150 inventory records
    inventory.append((
        i,
        randint(1, 100),  # Product_ID (1-100)
        randint(1, 10),  # WarehouseID (1-10)
        randint(0, 1000),  # QuantityInStock (0-1000)
        round(uniform(5, 500), 2),  # UnitPrice (5-500)
        randint(10, 50),  # ReorderLevel (10-50)
        random_date(datetime(2023, 1, 1), datetime(2023, 12, 31)).strftime('%Y-%m-%d')  # DateReceived
    ))
# Insert data into the Inventory table
cursor.executemany('''INSERT INTO Inventory (Inventory_ID, Product_ID, WarehouseID, QuantityInStock, UnitPrice, ReorderLevel, DateReceived) VALUES (?, ?, ?, ?, ?, ?, ?)''', inventory)


#Populate Warehouse
warehouses = []
cursor.execute("SELECT COUNT(*) FROM Warehouse")
warehouse_count = cursor.fetchone()[0]
start_id = warehouse_count + 1

for i in range(start_id, start_id + 11):  # Assuming 10 warehouses
    warehouses.append((
        i,
        fake.city(),  # WarehouseLocation
        round(uniform(100, 1000), 2),  # Capacity_CubicMeters (100 to 1000 cubic meters)
        randint(1, 10)  # Manager_ID (assuming we have 10 managers)
    ))
# Insert data into the Warehouse table
cursor.executemany('''
    INSERT INTO Warehouse (WarehouseID, WarehouseLocation, Capacity_CubicMeters, Manager_ID)
    VALUES (?, ?, ?, ?)
''', warehouses)


# Populate Customers
customers = []
cursor.execute("SELECT COUNT(*) FROM Customer")  # Get the current count of customers
customer_count = cursor.fetchone()[0]
start_id = customer_count + 1

for i in range(start_id, start_id + 51):
    customers.append((
        i,
        fake.name(),
        fake.email(),
        fake.address(),
        fake.phone_number(),
        fake.random_element(elements=('Bronze', 'Silver', 'Gold', 'Platinum'))
    ))
# Insert data into the Customers table
cursor.executemany('''
INSERT INTO Customer (Customer_ID, Customer_Name, Customer_Email, Customer_Address, Customer_ContactNumber, LoyaltyStatus)
VALUES (?, ?, ?, ?, ?, ?)
''', customers)


# Populate Orders
orders = []
# Get the current maximum Order_ID to avoid duplicates
cursor.execute("SELECT MAX(Order_ID) FROM `Order`")
max_order_id = cursor.fetchone()[0]
if max_order_id is None:
    max_order_id = 0  # Start at 1 if the table is empty
start_id = max_order_id + 1


for i in range(start_id, start_id + 101):
    orders.append((
        i,
        random_date(datetime(2023, 1, 1), datetime(2023, 12, 31)).strftime('%Y-%m-%d %H:%M:%S'),
        randint(1, 50),
        round(uniform(20, 2000), 2),
        random_date(datetime(2023, 1, 1), datetime(2024, 1, 1)).strftime('%Y-%m-%d %H:%M:%S'),
        fake.random_element(elements=('Pending', 'Shipped', 'Delivered', 'Cancelled'))
    ))
# Insert data into the Orders table
cursor.executemany('''
INSERT INTO "Order" (Order_ID, Order_Date, Customer_ID, TotalAmount, ShippingDate, Order_Status)
VALUES (?, ?, ?, ?, ?, ?)
''', orders)

#populate OrderItem
order_items = []
# Get the current maximum OrderItem_ID to avoid duplicates
cursor.execute("SELECT MAX(OrderItem_ID) FROM OrderItem")
max_order_item_id = cursor.fetchone()[0]
if max_order_item_id is None:
    max_order_item_id = 0  # Start at 1 if the table is empty
start_id = max_order_item_id + 1

for i in range(start_id, start_id + 201):  # Assuming 200 order items
    order_items.append((
        i,
        randint(1, 100),  # Order_ID (1-100)
        randint(1, 100),  # Product_ID (1-100)
        randint(1, 20),  # Order_Quantity (1-20)
        round(uniform(5, 500), 2)  # UnitPrice (5-500)
    ))
# Insert data into the OrderItem table
cursor.executemany('''INSERT INTO OrderItem (OrderItem_ID, Order_ID, Product_ID, Order_Quantity, UnitPrice) VALUES (?, ?, ?, ?, ?)''', order_items)

#Populate Batch
batches = []
cursor.execute("SELECT MAX(BatchID) FROM Batch")
max_batch_id = cursor.fetchone()[0]
if max_batch_id is None:
    max_batch_id = 0  # Start at 1 if the table is empty
start_id = max_batch_id + 1


for i in range(start_id, start_id + 101):  # Assuming 100 batches
    batches.append((
        i,
        randint(1, 100),  # Product_ID (1-100)
        random_date(datetime(2023, 1, 1), datetime(2023, 6, 30)).strftime('%Y-%m-%d'),  # BatchDate
        random_date(datetime(2024, 1, 1), datetime(2025, 12, 31)).strftime('%Y-%m-%d'),  # ExpirationDate
        randint(500, 5000),  # QuantityProduced (500-5000)
        fake.random_element(elements=('Pass', 'Fail'))  # QualityCheckStatus
    ))
# Insert data into the Batches table
cursor.executemany('''INSERT INTO Batch (BatchID, Product_ID, BatchDate, ExpirationDate, QuantityProduced, QualityCheckStatus) VALUES (?, ?, ?, ?, ?, ?)''', batches)


# Populate Manager
managers = []
# Get the current maximum Manager_ID to avoid duplicates
cursor.execute("SELECT MAX(Manager_ID) FROM Manager")
max_manager_id = cursor.fetchone()[0]
if max_manager_id is None:
    max_manager_id = 0  # Start at 1 if the table is empty
start_id = max_manager_id + 1

for i in range(start_id, start_id + 11):  # Assuming 10 managers
    managers.append((
        i,
        fake.name(),  # Manager_Name
        fake.job(),  # Department
        fake.phone_number()  # Manager_ContactNumber
    ))
# Insert data into the Manager table
cursor.executemany('''INSERT INTO Manager (Manager_ID, Manager_Name, Department, Manager_ContactNumber) VALUES (?, ?, ?, ?)''', managers)

#end db here

conn.commit()

In [18]:
# View the tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()
print("Tables in the database:")
for table in tables:
    print(table[0])

# View data in a specific table (e.g., 'Product')
df = pd.read_sql_query("SELECT * FROM Product;", conn)
print("\nData in 'Product' table:")
print(df)


# Step 1: Extract data
query = "SELECT * FROM Product;"  # Replace 'Product' with the table name you need
df = pd.read_sql_query(query, conn)

# Step 2: Transform data
df['Discounted_Price'] = df['Price'] * 0.9  # Example transformation

# Step 3: Load data (save to CSV)
df.to_csv('transformed_data.csv', index=False)
files.download('transformed_data.csv')  # Download the CSV file

print("ETL pipeline completed!")

Tables in the database:
Product
Suppliers
Inventory
Warehouse
Customer
Order
OrderItem
Batch
Manager

Data in 'Product' table:
     Product_ID Product_Name  Category Size           Color     Smell  \
0             1         head  possible  5kg     NavajoWhite      well
1             2          old    become  4kg       LightPink  indicate
2             3       senior  probably  5kg  MediumSeaGreen    worker
3             4     Democrat   whether  3kg      PowderBlue     close
4             5          boy      with  1kg       LightPink  Congress
..          ...          ...       ...  ...             ...       ...
96           97        enjoy   special  4kg      DarkOrchid     board
97           98       likely     event  1kg             Tan  decision
98           99           up      away  2kg      DarkSalmon      full
99          100         item     media  3kg         Thistle     adult
100         101         hand   hundred  2kg      DodgerBlue      line

                                           Ingredients Packaging   Price  \
0       Whatever should ball democratic energy senior.     quite  479.30
1                      Century someone audience prove.      beat   73.28
2      Natural miss note economic program simple ever.      head  141.70
3             Radio member bring water glass research.      fine  258.74
4                             Various rule production.       set  173.40
..                                                 ...       ...     ...
96           Into enter thank less effort four nature.    middle  123.95
97                                   Chance the could.    chance  436.43
98   Name finally even investment after local broth...  discover   83.85
99   Through air nothing mission water above intern...    inside  297.24
100                                 Huge behind close.      play  256.99

     StockQuantity ManufacturingDate Expirationdate  Supplier_ID
0              614        2022-02-17     2024-12-15            8
1              474        2022-08-29     2023-08-18            3
2              261        2022-06-10     2024-07-09            9
3              598        2022-04-02     2024-06-15            5
4              724        2022-11-02     2023-06-08            3
..             ...               ...            ...          ...
96             308        2022-10-30     2023-05-12            8
97             834        2022-03-31     2023-09-20            6
98             872        2022-11-30     2024-01-12            8
99             554        2022-08-06     2023-05-04            5
100             32        2022-01-20     2023-05-14            4

[101 rows x 13 columns]

ETL pipeline completed!